.txtbox{ width:300px; height:25px; color:#000; background-color:#ffffff; border: #0094d6 1px solid;}
.txtbox_small{ width:100px; height:25px; color:#000; background-color:#ffffff; border: #0094d6 1px solid;}
.txtbox_s{ width:90px; height:25px; color:#000; background-color:#ffffff; border: #0094d6 1px solid;}