
/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Arial, Helvetica, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right:3px;
border: 0px solid #778;
color: #000;
background: white url(../images/shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #FFFFFF;
}

.shadetabs li a:hover{
text-decoration: none;
color: #0094d6;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 0px; color:#fff;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image:url(../images/shade.jpg);
border-bottom-color: white;

}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}


.font_tab
{
font-family:Arial, Helvetica, sans-serif;
color:#000;
font-weight:bold;
padding-left:10px;
text-align:left;
font-size:14px;

}

.font_tab_txt
{
font-family:Arial, Helvetica, sans-serif;
color:#000;
padding-left:10px;
text-align:left;
font-size:12px;

}

@media print {
.tabcontent {
display:block !important;
border:#000000 1px solid;
}
}

