<?php /* $Id: getFirefoxModal.tpl 3214 2007-10-16 15:31:00Z will $ */ ?>
<?php TemplateUtility::printModalHeader('Settings', array('modules/candidates/validator.js'), 'Get Firefox'); ?>

            <table class="editTable">
                <tr>
                    <td style="text-align:center;">
                        <br />
                        <br />
                        The RESUFLO Toolbar is designed for Mozilla Firefox. Please download and use Mozilla Firefox to install the RESUFLO Toolbar.
                        <br />
                        <br />
                        <br />
                        <a href="http://www.mozilla.com/en-US/firefox/features.html" target="_new"><img border="0" alt="Firefox 2" title="Firefox 2" src="images/firefox-spread-btn-2.png"/></a>
                        <br />
                        <br />
                    </td>
                </tr>
            </table>
    </body>
</html>
