

<link rel="stylesheet" href="../css/tab.css" />
<link rel="stylesheet" href="../css/form.css" />
<script type="text/javascript" src="../javascript/tab.js"></script>

 
    <div id="main">
   
        <div id="contents">
            
			<!--tabs Starts-->		 

        
<table width="50%"  cellspacing="0" cellpadding="0" bgcolor="#fff" style="border:#8ac923 2px solid;" align="center" >
  <tr>
    <td bgcolor="#fff" >
   
	<table width="100%" border="0" cellspacing="2" cellpadding="2" bgcolor="#f8f8f8";>
      <tr>
        <td width="29%">Logo</td>
        <td width="71%"><img src="<?php echo $this->logovalue; ?>" name="img1" id="img1"/></td>
      </tr>
      <tr>
        <td>Message</td>
        <td><label>
          <input type="text" name="emailaddress" id="emailaddress" class="txtbox" />
        </label></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td><input type="image" src="images/save.gif" width="105" height="43" /></td>
      </tr>
      <tr >
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>   
	</td>
  </tr>
</table>   
 <!--tabs end-->	
        </div>
    </div>
    <div id="bottomShadow"></div>
