        <?php 
        @ini_set('memory_limit', '1024M');
        @ini_set('max_upload_filesize', 1073741824);
        @ini_set('post_max_size', 1073741824);

        if(isset($_FILES['resumecontent'])){
        include("UploadParseResume.php");

        }

        ?>
        <?php //echo($_SESSION['RESUFLO']->getAccessLevel())?>
        <?php /* $Id: Add.tpl 3746 2007-11-28 20:28:21Z andrew $ */ ?>
        <?php if ($this->isModal): ?>
            <?php TemplateUtility::printModalHeader('Candidates', array('modules/candidates/validator.js', 'js/addressParser.js', 'js/listEditor.js',  'js/candidate.js', 'js/candidateParser.js'), 'Add New Candidate to This Job Order Pipeline'); ?>
        <?php else: ?>
            <?php TemplateUtility::printHeader('Candidates', array('modules/candidates/validator.js', 'js/addressParser.js', 'js/listEditor.js',  'js/candidate.js', 'js/candidateParser.js')); ?>
            <?php TemplateUtility::printHeaderBlock(); ?>
            <?php TemplateUtility::printTabs($this->active, $this->subActive); ?>

            <div id="main">
                <?php TemplateUtility::printQuickSearch(); ?>

                <div id="contents">

                    <table >
                        <tr>
                            <td width="3%">
                                <img src="images/candidate.gif" width="24" height="24" alt="Candidates" style="border: none; margin-top: 3px;" />&nbsp;
                            </td>
                            <td><h2>Candidates: Add Candidate</h2></td>
                        </tr>
                    </table>

        <?php endif; ?>

                    <p class="note<?php if ($this->isModal): ?>Unsized<?php endif; ?>">Basic Information</p>

                    <table style="font-weight:bold; border: 1px solid #000; background-color: #ffed1a; padding:5px; display:none; margin-bottom:7px;" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>" id="candidateAlreadyInSystemTable">
                        <tr>
                            <td class="tdVertical">
                                This profile may already be in the system.&nbsp;&nbsp;Possible duplicate candidate profile:&nbsp;&nbsp;
                         <!-- <a href="javascript:void(0);" onclick="window.open('<?php echo(RESUFLOUtility::getIndexName()); ?>?m=candidates&amp;a=show&amp;candidateID='+candidateIsAlreadyInSystemID);">
                                    <img src="images/new_window.gif" border="0" />
                                    <img src="images/candidate_small.gif" border="0" />
                                    <span id="candidateAlreadyInSystemName"></span>
                                </a>-->
                            </td>
                        </tr>
                    </table>

                    <?php if ($this->isModal): ?>
                        <?php $URI = RESUFLOUtility::getIndexName() . '?m=joborders&amp;a=addCandidateModal&jobOrderID=' . $this->jobOrderID; ?>
                    <?php else: ?>
                        <?php $URI = RESUFLOUtility::getIndexName() . '?m=candidates&amp;a=add'; ?>
                    <?php endif; ?>

                  <form action="index.php?m=candidates&a=add" method="post" enctype="multipart/form-data" name="uploadresume">
                          <input type="hidden" name="countryKey" id="countryKey" value="<?php echo($_SESSION['RESUFLO']->getCountryKey())?>"  />
                       <?php if(isset($_FILES['resumecontent'])){ echo $parsedhiddeninfo;}?>

                        <table class="editTable"  width="<?php if ($this->isModal): ?>100%<?php else: ?>940<?php endif; ?>">
                            <?php if (!$this->isParsingEnabled): ?>
                            <tr>
                                <td class="tdVertical" colspan="2">
                                    <img src="images/parser/manual.gif" border="0" /><br /><br />
                                                                <a href="modules/candidates/downloadCSV.zip"><img src="images/csv.gif" alt="Download CSV formated file" title="Download CSV formated file" /></a>
                                </td>
                                <td class="tdVertical">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">

                                        <tr>
                                            <td align="left" valign="top"><img src="images/parser/import.gif" border="0" /></td>
                                            <td align="right"><input type="file" name="resumecontent" id="resumecontent" /></td>
                                                                        </tr>
                                                                        <tr>
                                                                                <td align="left"><label style="color: rgb(102, 102, 102);"><strong>Select Drip Campaign</strong></label></td>
                                                                                <td align="right"><select id="camp_id" tabindex="<?php echo($tabIndex++); ?>" name="camp_id" class="inputbox" style="width: 150px;">
                                                                                <option value="0" >---Select Campaign---</option>
                                                                                <option value="none" >None(No campaign)</option>
                                                                                <?php
                                                                                 $userid = $_SESSION['RESUFLO']->getuserid();
                                                                                $sql = "SELECT id,cname,`default` FROM dripmarket_compaign WHERE `userid` = '$userid'";
                                                                                $resource= mysql_query($sql);
                                                                                 while($row = mysql_fetch_array($resource)){ ?>
                                                                                                <option value="<?php if($row['default']==1){ echo 0; }else { echo $row['id'];} ?>"><?php if($row['default']==1){ echo $row['cname']. '(Default campaign)'; } else { echo $row['cname']; } ?></option>
                                                                                 <?php } ?>
                                                                        </select>


                                                                                <input type="submit" name="sub" value="Go" onclick="if(document.getElementById('countryKey').value==''){ alert('Resume can not be parsed because Parsing Country key setting is missing.Please contact administrator.');return false;} if(document.getElementById('resumecontent').value==''){alert('Please select resume to upload');return false;}" />

                                            </td>
                                        </tr>
                                                                        <!--<?php if($_SESSION['RESUFLO']->getAccessLevel()==400 || $_SESSION['RESUFLO']->getAccessLevel()==500){?>
                                                                        <tr><td colspan="2">Choose Client <select name="clientid"><option value="0">--Select--</option>
                                                                        <?php
                                                                        $sql = mysql_query("select user_id,first_name,last_name from user where access_level not in (400,500,0)");
                                                                        while($row=mysql_fetch_array($sql)){
                                                                        echo "<option value='".$row['user_id']."'";
                                                                        if(isset($clientid) && $clientid==$row['user_id']){
                                                                        echo " selected";
                                                                        }
                                                                        echo ">".$row['first_name']." ".$row['last_name']."</option>";
                                                                        }								
                                                                        ?>							

                                                                        </select></td></tr>
                                                                        <?php }?>-->
                                                                        <tr>
                                                                            <td colspan="2"><strong style="color:#666666; font-size:11px;"><b>NOTE:</b> If you are uploading single file or single candidate (except zip or csv) you need to select Drip Campaign from section 'Drip Campaign Information'.</br> On uploading zip file the candidates will be inserted into database directly.                                        </strong><br />

                                                                                <?php 
                                                                                    if(isset($obj->_uploaderror)){
                                                                                        echo "<span style='color:#FF0000; font-size:12px;'>".$obj->_uploaderror."</span>";
                                                                                    }
                                                                                    if(isset($zipmsg)){ 
                                                                                        echo  "<span style='color:#FF0000; font-size:12px;'>".$zipmsg."</span>";
                                                                                    }
                                                                                ?>
                                                                            </td>
                                                                        </tr>


                                    </table>
                                </td>
                            </tr>
                            <?php endif; ?> </form>
                                 <form name="addCandidateForm" id="addCandidateForm" enctype="multipart/form-data" action="<?php echo($URI); ?>" method="post" onsubmit="return (checkAddForm(document.addCandidateForm) && onSubmitEmailInSystem());" autocomplete="off" enctype="multipart/form-data">
                                  <?php if ($this->isModal): ?>
                            <input type="hidden" name="jobOrderID" id="jobOrderID" value="<?php echo($this->jobOrderID); ?>" />
                        <?php endif; ?>
                        <input type="hidden" name="postback" id="postback" value="postback" />
                        <tr>
                            <td style="color:red;" colspan="2">
                                <?php  if($_GET['er'] == 'optout'){echo "Email id is in optout list";}?>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:red;" colspan="2">
                                <?php  if($_GET['er'] == 'exists'){echo "Email id exists in database";}?>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:red;" colspan="2">
                                <?php  if($_GET['er'] == 'invalid'){echo "Please enter valid email eg: abc@xyz.com";}?>
                            </td>
                        </tr>
                            <tr>
                                <td class="tdVertical">
                                    <label id="firstNameLabel" for="firstName">First Name:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="1" name="firstName" id="firstName" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['firstName'])){ $this->_($this->preassignedFields['firstName']);}else{ if(isset($firstName)){echo $firstName;}} ?>" />&nbsp;*
                                </td>

                                <td rowspan="12" align="center" valign="top">
                                    <?php if ($this->isParsingEnabled): ?>
                                        <input type="hidden" name="loadDocument" id="loadDocument" value="" />
                                        <input type="hidden" name="parseDocument" id="parseDocument" value="" />
                                        <input type="hidden" name="documentTempFile" id="documentTempFile" value="<?php echo (isset($this->preassignedFields['documentTempFile']) ? $this->preassignedFields['documentTempFile'] : ''); ?>" />
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td valign="middle" align="right" colspan="2">
                                                    <img src="images/parser/arrow.gif" border="0" />
                                                    <input type="hidden" name="MAX_FILE_SIZE" VALUE="10000000" />
                                                    <input type="file" id="documentFile" name="documentFile" onchange="documentFileChange();" size="<?php if ($this->isModal): ?>20<?php else: ?>40<?php endif; ?>" />
                                                    <input type="button" id="documentLoad" value="Upload" onclick="loadDocumentFileContents();" disabled />
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" colspan="2">
                                                    <?php if (isset($this->preassignedFields['documentTempFile']) && ($tempFile = $this->preassignedFields['documentTempFile']) != ''): ?>
                                                    <div id="showAttachmentDetails" style="height: 20px; background-color: #e0e0e0; width: 500px; margin: 1px 0 5px 0; padding: 0 3px 0 5px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                            <tr>
                                                                <td align="left" valign="top" nowrap="nowrap" style="font-size: 11px;">
                                                                    <img src="images/parser/attachment.gif" border="0" style="padding-top: 3px;" />
                                                                    Attachment: <span style="font-weight: bold;"><?php echo $tempFile; ?></span>
                                                                </td>
                                                                <td align="right" valign="top" nowrap="nowrap" style="font-size: 11px;">
                                                                    <a href="javascript:void(0);" onclick="removeDocumentFile();">(remove)</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <?php endif; ?>
                                                    <textarea class="inputbox" tabindex="90" name="documentText" id="documentText" rows="5" cols="40" onmousemove="documentCheck();" onchange="documentCheck();" onmousedown="documentCheck();" onkeypress="documentCheck();" style="width: <?php if ($this->isModal): ?>320<?php else: ?>500<?php endif; ?>px; height: 210px; padding: 3px;"><?php echo $this->contents; ?></textarea>
                                                    <br/>
                                                    <div style="color: #666666; text-align: center;">
                                                    (<b>hint:</b> you may also paste the resume contents)
                                                    <br /><br />
                                                    <?php if (LicenseUtility::isProfessional() || file_exists('modules/asp')): ?>
                                                    Need to upload multiple resumes? <a href="<?php echo RESUFLOUtility::getIndexName(); ?>?m=import&a=massImport">Click here!</a>
                                                    <?php else: ?>
                                                        <?php if ($this->parsingStatus['parseLimit'] >= 0 && (($used = $this->parsingStatus['parseUsed']) / ($limit = $this->parsingStatus['parseLimit']) * 100) > 50): ?>
                                                            <?php if ($used == $limit): ?><span style="color: #800000;"><?php endif; ?>
                                                            Used <b><?php echo number_format($this->parsingStatus['parseUsed'],0); ?> / <?php echo number_format($this->parsingStatus['parseLimit'],0); ?></b> daily <a href="http://www.resfly.com" target="_blank">Resfly&trade;</a> automatic resume imports
                                                            <?php if ($used == $limit): ?>
                                                                </span>
                                                                <br />
                                                                Enter resume information manually or
                                                                <a href="http://www.econnoisseur.com/?a=getcats">upgrade to RESUFLO Professional</a>.
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    <?php else: ?>
                                        <?php if (PARSING_ENABLED &&
                                            count($this->parsingStatus) &&
                                            $this->parsingStatus['parseUsed'] >= $this->parsingStatus['parseLimit'] &&
                                            $this->parsingStatus['parseLimit'] >= 0): ?>
                                       <!-- <a href="http://www.econnoisseur.com/professional" target="_blank">All daily resume imports used. For more, upgrade to RESUFLO professional</a>.-->
                                        <?php endif; ?>
                                        <?php //$freeformTop = '<p class="freeformtop">Cut and paste freeform address here.</p>'; ?>
                                        <?php //eval(Hooks::get('CANDIDATE_TEMPLATE_ABOVE_FREEFORM')); ?>
                                        <?php //echo($freeformTop); ?>
                                                                        <!--
         <textarea class="inputbox" tabindex="90" name="addressBlock" id="addressBlock" rows="5" cols="40" style="width: 500px; height: 250px;"></textarea>-->

                                        <?php $freeformBottom = '<p class="freeformbottom">Cut and paste freeform address here.</p>'; ?>
                                        <?php eval(Hooks::get('CANDIDATE_TEMPLATE_BELOW_FREEFORM')); ?>
                                        <?php echo($freeformBottom); ?>
                                    <?php endif; ?>
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="middleNameLabel" for="middleName">Middle Name:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="2" name="middleName" id="middleName" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['middleName'])) $this->_($this->preassignedFields['middleName']); elseif (isset($middleName))echo $middleName; ?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="lastNameLabel" for="lastName">Last Name:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="2" name="lastName" id="lastName" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['lastName'])){ $this->_($this->preassignedFields['lastName']); }else{if(isset($lastName)){echo $lastName;}}  ?>" />&nbsp;*
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="emailLabel" for="email1">E-Mail:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="3" name="email1" id="email1" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['email'])) $this->_($this->preassignedFields['email']); elseif (isset($this->preassignedFields['email1'])) $this->_($this->preassignedFields['email1']); elseif (isset($email1)) echo $email1;?>" onchange="checkEmailAlreadyInSystem(this.value);" />&nbsp;*
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="email2Label" for="email2">2nd E-Mail:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="4" name="email2" id="email2" class="inputbox" style="width: 150px" value="<?php if (isset($this->preassignedFields['email2'])) $this->_($this->preassignedFields['email2']); ?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="webSiteLabel" for="webSite">Tags:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="5" name="webSite" id="webSite" class="inputbox" style="width: 150px" value="<?php if (isset($this->preassignedFields['webSite'])) $this->_($this->preassignedFields['webSite']); ?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="phoneHomeLabel" for="phoneHome">Home Phone:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="6" name="phoneHome" id="phoneHome" class="inputbox" style="width: 150px;" value="<?php if (isset($this->preassignedFields['phoneHome'])) $this->_($this->preassignedFields['phoneHome']); elseif (isset($phoneHome)){echo $phoneHome;}?>" />
                                    <?php if ($this->isParsingEnabled): ?>
                                        <?php if ($this->parsingStatus['parseLimit'] >= 0 && $this->parsingStatus['parseUsed'] >= $this->parsingStatus['parseLimit']): ?>
                                            &nbsp;
                                        <?php else: ?>
                                            <?php if ($this->isModal): ?>&nbsp;&nbsp;<?php else: ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php endif; ?>
                                            <img id="transfer" src="images/parser/transfer<?php echo ($this->contents != '' ? '' : '_grey'); ?>.gif" <?php echo ($this->contents != '' ? 'style="cursor: pointer;"' : ''); ?> border="0" alt="Import Resume" onclick="parseDocumentFileContents();" />
                                        <?php endif; ?>
                                    <?php else: ?>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--<input id="arrowButton" tabindex="91" align="middle" type="button" value="&lt;" class="arrowbutton" onclick="AddressParser_parse('addressBlock', 'person', 'addressParserIndicator', 'arrowButton'); document.addCandidateForm.firstName.focus();" />-->
                                    <?php endif; ?>
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="phoneCellLabel" for="phoneCell">Cell Phone:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="7" name="phoneCell" id="phoneCell" class="inputbox" style="width: 150px;" value="<?php if (isset($this->preassignedFields['phoneCell'])) $this->_($this->preassignedFields['phoneCell']); elseif (isset($phoneCell)){echo $phoneCell;}?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="phoneWorkLabel" for="phoneWork">Work Phone:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="8" name="phoneWork" id="phoneWork" class="inputbox" style="width: 150px" value="<?php if (isset($this->preassignedFields['phoneWork'])) $this->_($this->preassignedFields['phoneWork']); ?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="addressLabel" for="address">Address:</label>
                                </td>
                                <td class="tdData">
                                    <textarea tabindex="9" name="address" id="address" rows="2" cols="40" class="inputbox" style="width: 150px"><?php if(isset($this->preassignedFields['address'])) $this->_($this->preassignedFields['address']); if(isset($this->preassignedFields['address2'])) $this->_("\n" . $this->preassignedFields['address2']); elseif (isset($address)){echo $address;}?></textarea>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/indicator2.gif" id="addressParserIndicator" alt="" style="visibility: hidden; margin-left: 10px;" height="16" width="16" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="cityLabel" for="city">City:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="11" name="city" id="city" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['city'])) $this->_($this->preassignedFields['city']); elseif (isset($city)){echo $city;}?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="stateLabel" for="state">State:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="12" name="state" id="state" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['state'])) $this->_($this->preassignedFields['state']); elseif (isset($state)){echo $state;}?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="zipLabel" for="zip">Postal Code:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="13" name="zip" id="zip" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['zip'])) $this->_($this->preassignedFields['zip']); elseif (isset($zip)){echo $zip;} ?>" />&nbsp;
                                  <!--  <input type="button" tabindex="92" onclick="CityState_populate('zip', 'ajaxIndicator');" value="Lookup" />
                                    <img src="images/indicator2.gif" alt="AJAX" id="ajaxIndicator" style="vertical-align: middle; visibility: hidden; margin-left: 5px;" />-->
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="stateLabel" for="state">Best Time to Call:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="13" name="bestTimeToCall" id="bestTimeToCall" class="inputbox" style="width: 150px" value="<?php if(isset($this->preassignedFields['bestTimeToCall'])) $this->_($this->preassignedFields['bestTimeToCall']); ?>" />
                                </td>
                            </tr>

                            <?php $tabIndex = 15; ?>
                        </table>
                                                <p class="note<?php if ($this->isModal): ?>Unsized<?php endif; ?>" style="margin-top: 5px;">Drip Campaign Information</p>

                                         <table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">
                                                <tr>
                                                                <td class="tdVertical">
                                                                        <label id="dripCampaignLabel" for="sourceSelect">Drip Campaign</label>
                                                                </td>
                                                                <td class="tdData">
                                                                        <select id="camp_id_section" tabindex="<?php echo($tabIndex++); ?>" name="camp_id" class="inputbox" style="width: 150px;" onchange="setDripCampaign();">
                                                                                <option value="0" >---Select Campaign---</option>
                                                                                <option value="none" >None(No campaign)</option>
                                                                                <?php
                                                                                 $userid = $_SESSION['RESUFLO']->getuserid();
                                                                                $sql = "SELECT id,cname,`default` FROM dripmarket_compaign WHERE `userid` = '$userid'";
                                                                                $resource= mysql_query($sql);
                                                                                 while($row = mysql_fetch_array($resource)){ ?>
                                                                                                <option value="<?php if($row['default']==1){ echo 0; }else { echo $row['id'];} ?>"><?php if($row['default']==1){ echo $row['cname']. '(Default campaign)'; } else { echo $row['cname']; } ?></option>
                                                                                 <?php } ?>
                                                                        </select>
                                                                        <input type="hidden" id="camp_id_section_set" name="camp_id_section_set" value="0" />
                                                                </td>
                                                        </tr>
                                        </table>
                        <?php if (!$this->isParsingEnabled || $this->associatedAttachment != 0): ?>
                        <p class="note<?php if ($this->isModal): ?>Unsized<?php endif; ?>" style="margin-top: 5px;">Resume</p>

                        <table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">
                            <tr>
                                <td class="tdVertical">Resume:</td>
                                <td class="tdData" style="width:320px;">
                                    <?php if ($this->associatedAttachment == 0): ?>
                                        <nobr> <?php /* FIXME:  remove nobr stuff */ ?>
                                            <?php if (isset($this->overAttachmentQuota)): ?>
                                                <span style="font-size:10px;">(You have already reached your limit of <?php echo(FREE_ACCOUNT_SIZE/1024); ?> MB of attachments)<br />
                                                </font>Copy and Paste Resume:&nbsp;
                                            <?php else: ?>
                                                <input type="file" id="file" name="file" size="21" tabindex="<?php echo($tabIndex++); ?>" <?php if($this->associatedTextResume !== false): ?>disabled<?php endif; ?> /> &nbsp;
                                            <?php endif; ?>
                                            <a href="javascript:void(0);" onclick="if (document.getElementById('textResumeTD').style.display != '') { document.getElementById('textResumeTD').style.display = ''; document.getElementById('file').disabled=true; } else { document.getElementById('textResumeTD').style.display='none'; document.getElementById('file').disabled = false; }">
                                                <img src="images/package_editors.gif" style="margin:0px; padding:0px;"  class="absmiddle" alt="" border="0" title="Copy / Paste Resume" />
                                            </a>
                                        </nobr>
                                     <?php else: ?>
                                        <a href="<?php echo $this->associatedAttachmentRS['retrievalURL']; ?>">
                                            <img src="<?php $this->_($this->associatedAttachmentRS['attachmentIcon']) ?>" alt="" width="16" height="16" style="border: none;" />
                                        </a>
                                        <a href="<?php echo $this->associatedAttachmentRS['retrievalURL']; ?>">
                                            <?php $this->_($this->associatedAttachmentRS['originalFilename']) ?>
                                        </a>
                                        <?php echo($this->associatedAttachmentRS['previewLink']); ?>
                                        <input type="hidden" name="associatedAttachment" value="<?php echo($this->associatedAttachment); ?>" />
                                    <?php endif; ?>
                              </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="left" valign="top">
                                    <input type="hidden" name="textResumeFilename" value="<?php if(isset($this->preassignedFields['textResumeFilename'])) $this->_($this->preassignedFields['textResumeFilename']); else echo('resume.txt'); ?>" />
                                    <div id="textResumeTD" <?php if($this->associatedTextResume === false): ?>style="display:none;"<?php endif; ?>>
                                        <p class="freeformtop" style="width: 700px;">Cut and paste resume text here.</p>

                                        &nbsp;<textarea class="inputbox" tabindex="90" name="textResumeBlock" id="textResumeBlock" rows="5" cols="60" style="width: 700px; height: 300px;"><?php if ($this->associatedTextResume !== false) $this->_($this->associatedTextResume); ?></textarea>

                                        <p class="freeformtop" style="width: 700px;">Cut and paste resume text here.</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <?php else: ?>
                        <br />
                        <?php endif; ?>

                        <?php if($this->EEOSettingsRS['enabled'] == 1): ?>
                            <p class="note<?php if ($this->isModal): ?>Unsized<?php endif; ?>" style="margin-top: 5px;">EEO Information</p>
                            <table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">
                                 <?php if ($this->EEOSettingsRS['genderTracking'] == 1): ?>
                                     <tr>
                                        <td class="tdVertical">
                                            <label id="canRelocateLabel" for="canRelocate">Gender:</label>
                                        </td>
                                        <td class="tdData">
                                            <select id="gender" name="gender" class="inputbox" style="width:200px;" tabindex="<?php echo($tabIndex++); ?>">
                                                <option selected="selected" value="">----</option>
                                                <option value="M"<?php if (isset($this->preassignedFields['gender']) && $this->preassignedFields['gender'] == 'M') echo ' selected'; ?>>Male</option>
                                                <option value="F"<?php if (isset($this->preassignedFields['gender']) && $this->preassignedFields['gender'] == 'F') echo ' selected'; ?>>Female</option>
                                            </select>
                                        </td>
                                     </tr>
                                 <?php endif; ?>
                                 <?php if ($this->EEOSettingsRS['ethnicTracking'] == 1): ?>
                                     <tr>
                                        <td class="tdVertical">
                                            <label id="canRelocateLabel" for="canRelocate">Ethnic Background:</label>
                                        </td>
                                        <td class="tdData">
                                            <select id="race" name="race" class="inputbox" style="width:200px;" tabindex="<?php echo($tabIndex++); ?>">
                                                <option selected="selected" value="">----</option>
                                                <option value="1"<?php if (isset($this->preassignedFields['race']) && $this->preassignedFields['race'] == '1') echo ' selected'; ?>>American Indian</option>
                                                <option value="2"<?php if (isset($this->preassignedFields['race']) && $this->preassignedFields['race'] == '2') echo ' selected'; ?>>Asian or Pacific Islander</option>
                                                <option value="3"<?php if (isset($this->preassignedFields['race']) && $this->preassignedFields['race'] == '3') echo ' selected'; ?>>Hispanic or Latino</option>
                                                <option value="4"<?php if (isset($this->preassignedFields['race']) && $this->preassignedFields['race'] == '4') echo ' selected'; ?>>Non-Hispanic Black</option>
                                                <option value="5"<?php if (isset($this->preassignedFields['race']) && $this->preassignedFields['race'] == '5') echo ' selected'; ?>>Non-Hispanic White</option>
                                            </select>
                                        </td>
                                     </tr>
                                 <?php endif; ?>
                                 <?php if ($this->EEOSettingsRS['veteranTracking'] == 1): ?>
                                     <tr>
                                        <td class="tdVertical">
                                            <label id="canRelocateLabel" for="canRelocate">Veteran Status:</label>
                                        </td>
                                        <td class="tdData">
                                            <select id="veteran" name="veteran" class="inputbox" style="width:200px;" tabindex="<?php echo($tabIndex++); ?>">
                                                <option selected="selected" value="">----</option>
                                                <option value="1"<?php if (isset($this->preassignedFields['veteran']) && $this->preassignedFields['veteran'] == '1') echo ' selected'; ?>>No</option>
                                                <option value="2"<?php if (isset($this->preassignedFields['veteran']) && $this->preassignedFields['veteran'] == '2') echo ' selected'; ?>>Eligible Veteran</option>
                                                <option valie="3"<?php if (isset($this->preassignedFields['veteran']) && $this->preassignedFields['veteran'] == '3') echo ' selected'; ?>>Disabled Veteran</option>
                                                <option value="4"<?php if (isset($this->preassignedFields['veteran']) && $this->preassignedFields['veteran'] == '4') echo ' selected'; ?>>Eligible and Disabled</option>
                                            </select>
                                        </td>
                                     </tr>
                                 <?php endif; ?>
                                 <?php if ($this->EEOSettingsRS['disabilityTracking'] == 1): ?>
                                     <tr>
                                        <td class="tdVertical">
                                            <label id="canRelocateLabel" for="canRelocate">Disability Status:</label>
                                        </td>
                                        <td class="tdData">
                                            <select id="disability" name="disability" class="inputbox" style="width:200px;" tabindex="<?php echo($tabIndex++); ?>">
                                                <option selected="selected" value="">----</option>
                                                <option value="No"<?php if (isset($this->preassignedFields['disability']) && $this->preassignedFields['disability'] == 'No') echo ' selected'; ?>>No</option>
                                                <option value="Yes"<?php if (isset($this->preassignedFields['disability']) && $this->preassignedFields['disability'] == 'Yes') echo ' selected'; ?>>Yes</option>
                                            </select>
                                        </td>
                                     </tr>
                                 <?php endif; ?>
                            </table>
                            <br />
                        <?php endif; ?>
                                        <p class="note<?php if ($this->isModal): ?>Unsized<?php endif; ?>" style="margin-top: 5px;">License Information</p>
                                        <table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">
                                        <tr>
                                <td class="tdVertical">
                                    <label id="sourceLabel" for="sourceSelect">Life and Health License:</label>
                                </td>
                                <td class="tdData">
                                    <select id="lifeLic" tabindex="<?php echo($tabIndex++); ?>" name="lifeLic" class="inputbox" style="width: 150px;">
                                                                        <option value="none" >None</option>
                                                                        <option value="Yes">Yes</option>
                                                                        <option value="No">No</option>
                                    </select>
                                </td>
                            </tr>
                                                <tr>
                                <td class="tdVertical">
                                    <label id="sourceLabel" for="sourceSelect">Property Casualty License:</label>
                                </td>
                                <td class="tdData">
                                    <select id="propLic" tabindex="<?php echo($tabIndex++); ?>" name="propLic" class="inputbox" style="width: 150px;">
                                                                        <option value="none" >None</option>
                                                                        <option value="Yes">Yes</option>
                                                                        <option value="No">No</option>
                                    </select>
                                </td>
                            </tr>

        <tr>
                                <td class="tdVertical">
                                    <label id="sourceLabel" for="sourceSelect">Series 6:</label>
                                </td>
                                <td class="tdData">
                                    <select id="ser6" tabindex="<?php echo($tabIndex++); ?>" name="ser6" class="inputbox" style="width: 150px;">
                                                                        <option value="none" >None</option>
                                                                        <option value="Yes">Yes</option>
                                                                        <option value="No">No</option>
                                    </select>
                                </td>
                            </tr>

        <tr>
                                <td class="tdVertical">
                                    <label id="sourceLabel" for="sourceSelect">Series 63:</label>
                                </td>
                                <td class="tdData">
                                    <select id="ser63" tabindex="<?php echo($tabIndex++); ?>" name="ser63" class="inputbox" style="width: 150px;">
                                                                        <option value="none" >None</option>
                                                                        <option value="Yes">Yes</option>
                                                                        <option value="No">No</option>
                                    </select>
                                </td>
                            </tr>

        <tr>
                                <td class="tdVertical">
                                    <label id="sourceLabel" for="sourceSelect">Series 7:</label>
                                </td>
                                <td class="tdData">
                                    <select id="ser7" tabindex="<?php echo($tabIndex++); ?>" name="ser7" class="inputbox" style="width: 150px;">
                                                                        <option value="none" >None</option>
                                                                        <option value="Yes">Yes</option>
                                                                        <option value="No">No</option>
                                    </select>
                                </td>
                            </tr>


                                        </table>

                        <p class="note<?php if ($this->isModal): ?>Unsized<?php endif; ?>" style="margin-top: 5px;">Other</p>
                        <table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">

                            <?php for ($i = 0; $i < count($this->extraFieldRS); $i++): ?>
                                                        <?php if(($this->extraFieldRS[$i]['fieldName']!= 'Date Of Birth') && ($this->extraFieldRS[$i]['fieldName']!= 'Gender') && ($this->extraFieldRS[$i]['fieldName']!= 'Father Name') && ($this->extraFieldRS[$i]['fieldName']!= 'Marital Status') && ($this->extraFieldRS[$i]['fieldName']!= 'Passport No') && ($this->extraFieldRS[$i]['fieldName']!= 'Nationality')&& ($this->extraFieldRS[$i]['fieldName']!= 'Mother Name')): ?>

                                                                <tr>
                                                                        <td class="tdVertical" id="extraFieldTd<?php echo($i); ?>">
                                                                                <label id="extraFieldLbl<?php echo($i); ?>">
                                                                                        <?php $this->_($this->extraFieldRS[$i]['fieldName']); ?>:
                                                                                </label>
                                                                        </td>
                                                                        <td class="tdData" id="extraFieldData<?php echo($i); ?>">
                                                                                <?php echo($this->extraFieldRS[$i]['addHTML']); ?>
                                                                        </td>
                                                                </tr>
                                                         <?php endif; ?>
                            <?php endfor; ?>

                            <tr>
                                <td class="tdVertical">
                                    <label id="canRelocateLabel" for="canRelocate">Can Relocate:</label>
                                </td>
                                <td class="tdData">
                                    <input type="checkbox" tabindex="<?php echo($tabIndex++); ?>" id="canRelocate" name="canRelocate" value="1"<?php if (isset($this->preassignedFields['canRelocate']) && $this->preassignedFields['canRelocate'] == '1') echo ' checked'; ?> />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="dateAvailableLabel" for="dateAvailable">Date Available:</label>
                                </td>
                                <td class="tdData">
                                    <script type="text/javascript">DateInput('dateAvailable', false, 'MM-DD-YY', '', <?php echo($tabIndex++); ?>);</script>

                                    <?php /* DateInput()s take up 3 tabindexes. */ ?>
                                    <?php $tabIndex += 2; ?>
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="currentEmployerLabel" for="currentEmployer">Current Employer:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="<?php echo($tabIndex++); ?>" name="currentEmployer" id="currentEmployer" class="inputbox" style="width: 150px" value="<?php if (isset($this->preassignedFields['currentEmployer'])) $this->_($this->preassignedFields['currentEmployer']); elseif (isset($currentEmployer)){echo $currentEmployer;}?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="currentPayLabel" for="currentEmployer">Current Pay:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="<?php echo($tabIndex++); ?>" name="currentPay" id="currentPay" class="inputbox" style="width: 150px" value="<?php if (isset($this->preassignedFields['currentPay'])) $this->_($this->preassignedFields['currentPay']); elseif (isset($currentPay)){echo $currentPay;} ?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="desiredPayLabel" for="currentEmployer">Desired Pay:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" tabindex="<?php echo($tabIndex++); ?>" name="desiredPay" id="desiredPay" class="inputbox" style="width: 150px" value="<?php if (isset($this->preassignedFields['desiredPay'])) $this->_($this->preassignedFields['desiredPay']); elseif (isset($desiredPay)){echo $desiredPay;}?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="sourceLabel" for="sourceSelect">Source:</label>
                                </td>
                                <td class="tdData">
        <?php if ($this->isModal): ?>
                                    <select id="sourceSelect" tabindex="<?php echo($tabIndex++); ?>" name="source" class="inputbox" style="width: 150px;">
        <?php else: ?>
                                    <select id="sourceSelect" tabindex="<?php echo($tabIndex++); ?>" name="source" class="inputbox" style="width: 150px;" onchange="if (this.value == 'edit') { listEditor('Sources', 'sourceSelect', 'sourceCSV', false); this.value = '(none)'; } if (this.value == 'nullline') { this.value = '(none)'; }">
                                        <option value="edit">(Edit Sources)</option>
                                        <option value="nullline">-------------------------------</option>
        <?php endif; ?>
                                            <option value="(none)" <?php if (!isset($this->preassignedFields['source'])): ?>selected="selected"<?php endif; ?>>(None)</option>
                                            <?php if (isset($this->preassignedFields['source'])): ?>
                                                <option value="<?php $this->_($this->_($this->preassignedFields['source'])); ?>" selected="selected"><?php $this->_($this->_($this->preassignedFields['source'])); ?></option>
                                            <?php endif; ?>
                                        <?php foreach ($this->sourcesRS AS $index => $source): ?>
                                            <option value="<?php $this->_($source['name']); ?>"><?php $this->_($source['name']); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <input type="hidden" id="sourceCSV" name="sourceCSV" value="<?php $this->_($this->sourcesString); ?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="keySkillsLabel" for="keySkills">Key Skills:</label>
                                </td>
                                <td class="tdData">
                                    <input type="text" class="inputbox" tabindex="<?php echo($tabIndex++); ?>" name="keySkills" id="keySkills" style="width: 400px;" value="<?php if (isset($this->preassignedFields['keySkills'])) $this->_($this->preassignedFields['keySkills']); elseif (isset($keySkills)){echo $keySkills;}?>" />
                                </td>
                            </tr>

                            <tr>
                                <td class="tdVertical">
                                    <label id="notesLabel" for="notes">Misc. Notes:</label>
                                </td>
                                <td class="tdData">
                                    <textarea class="inputbox" tabindex="<?php echo($tabIndex++); ?>" name="notes" id="notes" rows="5" cols="40" style="width: 400px;"><?php if (isset($this->preassignedFields['notes'])) $this->_($this->preassignedFields['notes']); ?></textarea>
                                </td>
                            </tr>
                        </table>

                        <input type="submit" tabindex="<?php echo($tabIndex++); ?>" class="button" value="Add Candidate" />&nbsp;
                        <input type="reset"  tabindex="<?php echo($tabIndex++); ?>" class="button" value="Reset" />&nbsp;
                        <?php if ($this->isModal): ?>
                            <input type="button" tabindex="<?php echo($tabIndex++); ?>" class="button" value="Back to Search" onclick="javascript:goToURL('<?php echo(RESUFLOUtility::getIndexName()); ?>?m=joborders&amp;a=considerCandidateSearch&amp;jobOrderID=<?php echo($this->jobOrderID); ?>');" />
                        <?php else: ?>
                            <input type="button" tabindex="<?php echo($tabIndex++); ?>" class="button" value="Back to Candidates" onclick="javascript:goToURL('<?php echo(RESUFLOUtility::getIndexName()); ?>?m=candidates');" />
                        <?php endif; ?>
                    </form>

        <script type="text/javascript">
            document.addCandidateForm.firstName.focus();
            <?php if(isset($this->preassignedFields['email']) || isset($this->preassignedFields['email1'])): ?>
                checkEmailAlreadyInSystem(urlDecode("<?php if(isset($this->preassignedFields['email'])) echo(urlencode($this->preassignedFields['email'])); else if(isset($this->preassignedFields['email1'])) echo(urlencode($this->preassignedFields['email1'])); ?>"));
            <?php endif; ?>
        </script>

        <?php if ($this->isModal): ?>
            </body>
        </html>
        <?php else: ?>
                </div>
            </div>

            <div id="bottomShadow"></div>
        <?php TemplateUtility::printFooter(); ?>
        <?php endif; ?>
        <?php if(isset($_FILES['resumecontent']) && $obj->_filterfile !="zip" && $obj->_filterfile !="rar"){?>
        <script type="text/javascript">
        function FillExtraFields(){
        document.getElementById("extraField0").value=document.getElementById("Category").value;
        document.getElementById("extraField1").value=document.getElementById("DateOfBirth").value;
        document.getElementById("extraField2").value=document.getElementById("Gender").value;
        document.getElementById("extraField3").value=document.getElementById("FatherName").value;
        document.getElementById("extraField4").value=document.getElementById("MotherName").value;
        document.getElementById("extraField5").value=document.getElementById("MaritalStatus").value;
        document.getElementById("extraField6").value=document.getElementById("PassportNo").value;
        document.getElementById("extraField7").value=document.getElementById("Nationality").value;
        document.getElementById("extraField8").value=document.getElementById("WorkedPeriod").value;
        document.getElementById("extraField9").value=document.getElementById("GapPeriod").value;
        document.getElementById("extraField10").value=document.getElementById("FaxNo").value;
        document.getElementById("extraField11").value=document.getElementById("LicenseNo").value;
        document.getElementById("extraField12").value=document.getElementById("LanguageKnown").value;
        document.getElementById("extraField13").value=document.getElementById("Hobbies").value;
        document.getElementById("extraField14").value=document.getElementById("Qualification").value;
        document.getElementById("extraField15").value=document.getElementById("Achievments").value;
        document.getElementById("extraField16").value=document.getElementById("Objectives").value;
        document.getElementById("extraField17").value=document.getElementById("Experience").value;
        document.getElementById("extraField18").value=document.getElementById("References").value;
        document.getElementById("extraField19").value=document.getElementById("JobProfile").value;
        document.getElementById("extraField20").value=document.getElementById("DetailResume").value;
        }
        FillExtraFields();


        </script>
        <?php }?>