<?php /* $Id: ConsiderSearchModal.tpl 3093 2007-09-24 21:09:45Z brian $ */ ?>
<?php TemplateUtility::printModalHeader('Candidates', array(), 'Add Candidates to Recruiter account'); ?>
<?php $action =  $_SERVER["QUERY_STRING"]; ?>
<?php if($this->postback) :  ?>
<br />
<br />
<br />
<table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">
	<tr>
		<td class="tdVertical" width="50%">
			<?php 	echo "Candidate added to recruiter's account successfully!";  ?>
		</td>
	</tr>
	<tr>
		<td>
			<form method="get" action="<?php echo(RESUFLOUtility::getIndexName()); ?>">
				<input type="button" name="close" value="Close" onclick="parentHidePopWinRefresh();" />
			</form>
		</td>
	</tr>
</table>

<?php else: ?>


            <form name="searchByJobTitleForm" id="searchByJobTitleForm" action="<?php echo(RESUFLOUtility::getIndexName()); ?>?<?php echo $action; ?>" method="post">
                <input type="hidden" name="postback" id="postback" value="postback" />
                 <input type="hidden" id="candidateIDArray" name="candidateIDArray" value="<?php echo($this->candidateIDArray); ?>" />
				<br />
				<br />
				<br />

				 <table class="editTable" width="<?php if ($this->isModal): ?>100%<?php else: ?>925<?php endif; ?>">
					<tr>
							<td class="tdVertical">
								<label id="sourceLabel" for="sourceSelect">Select Recruiter :</label>
							</td>
					
							<td class="tdData">
								<select id="recruiter_id" tabindex="<?php echo($tabIndex++); ?>" name="recruiter_id" class="inputbox" style="width: 150px;">
									<?php
									$sql = "select user_id,user_name from user where`entered_by`= '$this->userid'";
									$resource= mysql_query($sql);
									 while($row = mysql_fetch_array($resource)){ ?>
											<option value="<?php echo $row['user_id']; ?>" ><?php echo $row['user_name']; ?></option>
									 <?php } ?>
								</select>
							</td>
				   </tr>
				</table>
				
                <input type="submit" class="button" name="submit" id="submit" value="Save" />&nbsp;
                <input type="reset"  class="button" name="reset"  id="reset"  value="Reset" onClick="resetFormForeign();" />&nbsp;
                
            </form>
 <?php endif; ?>

