<?php 
$site_id = $_SESSION['RESUFLO']->getSiteID();
/* $Id: Home.tpl 3563 2007-11-12 07:41:54Z will $ */ ?>
<?php TemplateUtility::printHeader('Home', array('js/sweetTitles.js', 'js/dataGrid.js', 'js/home.js')); ?>
<?php TemplateUtility::printHeaderBlock(); ?>
<?php TemplateUtility::printTabs($this->active); ?>
<!-- TinyMCE -->
<!--<script src="jscripts/tinymce/tinymce.min.js" type="text/javascript"></script>-->
<!-- /TinyMCE -->

<link href="./google calender/main.css" rel="stylesheet" type="text/css" />
    <div id="main">
        <?php TemplateUtility::printQuickSearch(); ?>
        <?php if($_GET['jobnotice'] == 1){?>
            <div style="padding: 3px;background-color: #ff6c00; text-align: center;">Save your job first to create reminder</div>
        <?php }?>
        <div id="contents" style="padding-top: 10px;">
            <div>
                <form name="jobForm" id="jobForm" action="<?php echo(RESUFLOUtility::getIndexName()); ?>?m=calendar&amp;a=jobForm" method="post" onsubmit="return checkAddForm(document.jobForm);" autocomplete="off">
                    <input type="hidden" name="postback" id="postback" value="postback" />
                    <input type="hidden" name="career_portal_id" id="career_portal_id" value="<?php echo($this->careerPortalId); ?>" />
                    <textarea name="txtmessage" id="txtmessage" class="txtbox" style="min-height:600px;width:100%"><?php echo stripslashes($this->description); ?></textarea>
                    <br>
                    <button style="margin-top: 5px;">Save</button>
                    <span style="margin-left: 200px;">Page Link: <a href="<?php echo (RESUFLOUtility::getIndexName()); ?>?a=scheduler&cl=<?php echo($this->userId); ?>&siteID=<?php echo($site_id); ?>" target="_blank"> <?php echo 'http://'.$_SERVER[HTTP_HOST]; ?>/<?php echo (RESUFLOUtility::getIndexName()); ?>?a=scheduler&cl=<?php echo($this->userId); ?>&siteID=<?php echo $site_id; ?> </a></span>
                </form>
            </div>
            <br>
            <p class="note">
                <span style="float:left;">Resuflo Interview Scheduler</span>
                <span style="float:right;"></span>&nbsp;
            </p>

            <table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <?php echo($this->cal); ?>
                </td>
              </tr>
            </table>
</body>
</html>

        </div>
    </div>
    <div id="bottomShadow"></div>
<script src="jscripts/ckeditor/ckeditor.js" type="text/javascript"></script> 
<script type="text/javascript">
    CKEDITOR.replace('txtmessage');
</script>
<?php TemplateUtility::printFooter(); ?>
