<?php /* $Id: JobOrderReport.tpl 2441 2007-05-04 20:42:02Z brian $ */ ?>
<?php TemplateUtility::printHeader('Pipeline Report', array('modules/joborders/validator.js', 'js/company.js', 'js/sweetTitles.js')); ?>
<?php TemplateUtility::printHeaderBlock(); ?>
<?php TemplateUtility::printTabs($this->active, $this->subActive); ?>
<script type="text/javascript">
function getReportValue(){
}
</script>
    <div id="main">
        <?php TemplateUtility::printQuickSearch(); ?>
        <div id="contents">
            <table>
                <tr>
                    <td width="3%">
                        <img src="images/job_orders.gif" width="24" height="24" border="0" alt="Job Orders" style="margin-top: 3px;" />&nbsp;
                    </td>
                    <td><h2>Reports: Pipeline Report</h2></td>
                </tr>
            </table>
            <p class="note">Generate a Pipeline report.</p>
            <form name="jobOrderReportForm" id="jobOrderReportForm" action="<?php echo(RESUFLOUtility::getIndexName()); ?>" method="get">
                <input type="hidden" name="m" value="reports">
                <input type="hidden" name="a" value="generateJobOrderReportPDF">

                <table class="editTable" width="700">
                    <tr>
                        <td class="tdVertical" style="width: 150px;">
                            <label id="siteNameLabel" for="siteName">Company Name:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="siteName" id="siteName" value="<?php $this->_($this->reportParameters['siteName']); ?>" style="width: 250px;" />&nbsp;*
                        </td>
                    </tr>

                    <tr>
                        <td class="tdVertical">
                            <label id="companyNameLabel" for="companyName">Company:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="companyName" id="companyName" value="<?php $this->_($this->reportParameters['companyName']); ?>" style="width: 250px;" />&nbsp;*
                        </td>
                    </tr>

                    <tr>
                        <td class="tdVertical">
                            <label id="jobOrderNameLabel" for="jobOrderName">Position (Title):</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="jobOrderName" id="jobOrderName" value="<?php $this->_($this->reportParameters['jobOrderName']); ?>" style="width: 250px;" />&nbsp;*
                        </td>
                    </tr>

                    <tr>
                        <td class="tdVertical">
                            <label id="periodLineLabel" for="periodLine">Period:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="periodLine" id="periodLine" value="<?php $this->_($this->reportParameters['periodLine']); ?>" style="width: 250px;" />&nbsp;*
                        </td>
                    </tr>

                    <tr>
                        <td class="tdVertical">
                            <label id="accountManagerLabel" for="accountManager">Account Manager:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="accountManager" id="accountManager" value="<?php $this->_($this->reportParameters['accountManager']); ?>" style="width: 250px;" />&nbsp;*
                        </td>
                    </tr>

                    <tr>
                        <td class="tdVertical">
                            <label id="recruiterLabel" for="recruiter">Recruiter:</label>
                        </td>
                        <td class="tdData">
						<?php if($_SESSION['RESUFLO']->getClientLogin()==1 && $_SESSION['RESUFLO']->getAccessLevel()==400){ 
						$sql = mysql_query("select * from company where owner = ".$_SESSION['resumeinsertuserid']);
						while($data = mysql_fetch_array($sql)){
							$ownerCompanyName = $data['name'];
						}
						?>
       		<select class="inputbox" name="recruiter" id="recruiter"  style="width: 250px;" onChange="document.jobOrderReportForm.submit()" />&nbsp;*
							<option value="<?php $this->_($this->reportParameters['recruiter']); ?>"><?php $this->_($this->reportParameters['recruiter']); ?></option>
							<option value="<?php echo $ownerCompanyName ;?>"><?php echo $ownerCompanyName; ?></option>
		<?php }else if($_SESSION['RESUFLO']->getClientLogin()==1 && $_SESSION['RESUFLO']->getAccessLevel()!=400){ ?>
			<input type="text" class="inputbox" name="recruiter" id="recruiter" value="<?php $this->_($this->reportParameters['recruiter']); ?>" style="width: 250px;" />&nbsp;*
		<?php } ?>
                            
                        </td>
                    </tr>
                </table>

                <table class="editTable" width="700">
                    <input type="hidden" name="dataSet" id="dataSet" value="0,0,0,0,0,0,0,0,0,0">
                    <script type="text/javascript">
                        function setDataSet()
                        {
                            	document.getElementById('dataSet').value =
                                document.getElementById('dataSet1').value + ',' +
                                document.getElementById('dataSet2').value + ',' +
                                document.getElementById('dataSet3').value + ',' +
								document.getElementById('dataSet4').value + ',' +
                                document.getElementById('dataSet5').value + ',' +
                                document.getElementById('dataSet6').value + ',' +
								document.getElementById('dataSet7').value + ',' +
                                document.getElementById('dataSet8').value + ',' +
                                document.getElementById('dataSet9').value;
								/*document.getElementById('dataSet10').value + ',' +
                                document.getElementById('dataSet11').value + ',' +
                                document.getElementById('dataSet12').value + ',' +
								document.getElementById('dataSet13').value + ',' +
                                document.getElementById('dataSet14').value;*/


                        }
                    </script>

                    <tr>
                        <td class="tdVertical" style="width: 150px;">
                            <label id="dataSet1Label"for="dataSet1">Candidates Screened:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet1" id="dataSet1" value="<?php $this->_($this->reportParameters['dataSet1']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet2Label"for="dataSet2">Candidates Contacted:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet2" id="dataSet2" value="<?php $this->_($this->reportParameters['dataSet2']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet3Label"for="dataSet3">Candidates 1st Interviewed:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet3" id="dataSet3" value="<?php $this->_($this->reportParameters['dataSet3']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
                    <tr>
                        <td class="tdVertical">
                            <label id="dataSet4Label"for="dataSet4">Candidates Aptitude Test:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet4" id="dataSet4" value="<?php $this->_($this->reportParameters['dataSet4']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet5Label"for="dataSet5">Candidates 2nd Interviewed:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet5" id="dataSet5" value="<?php $this->_($this->reportParameters['dataSet5']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet6Label"for="dataSet6">Candidates Background Check:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet6" id="dataSet6" value="<?php $this->_($this->reportParameters['dataSet6']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet7Label"for="dataSet7">Candidates Pending:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet7" id="dataSet7" value="<?php $this->_($this->reportParameters['dataSet7']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet8Label"for="dataSet8">Candidates Licensing:</label>
                        </td>
                        <td class="tdData">
							
                            <input type="text" class="inputbox" name="dataSet8" id="dataSet8" value="<?php $this->_($this->reportParameters['dataSet8']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet9Label"for="dataSet9">Candidates Reserved:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet9" id="dataSet9" value="<?php $this->_($this->reportParameters['dataSet9']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet10Label"for="dataSet10">Candidates Contracted:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet10" id="dataSet10" value="<?php $this->_($this->reportParameters['dataSet10']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<!--<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet11Label"for="dataSet11">Candidates Offered:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet11" id="dataSet11" value="<?php $this->_($this->reportParameters['dataSet11']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					<tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="dataSet12Label"for="dataSet12">Client Declined:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet12" id="dataSet12" value="<?php $this->_($this->reportParameters['dataSet12']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
					                    <tr>
                        <td class="tdVertical">
                            <label id="dataSet13Label"for="dataSet13">Candidates Contracted:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet13" id="dataSet13" value="<?php $this->_($this->reportParameters['dataSet13']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>
                    <tr>
                        <td class="tdVertical">
                            <label id="dataSet14Label"for="dataSet14">Candidates Placed:</label>
                        </td>
                        <td class="tdData">
                            <input type="text" class="inputbox" name="dataSet14" id="dataSet14" value="<?php $this->_($this->reportParameters['dataSet14']); ?>" style="width: 75px;" onchange="setDataSet();" />&nbsp;*
                        </td>
                    </tr>-->

                </table>

                <script type="text/javascript">setDataSet();</script>

                <table class="editTable" width="700">
                    <tr>
                        <td class="tdVertical" style="width: 140px;">
                            <label id="notesLabel" for="notes">Misc. Notes:</label>
                        </td>
                        <td class="tdData">
                            <textarea class="inputbox" name="notes" id="notes" rows="5" style="width: 400px;" /></textarea>
                        </td>
                    </tr>
                </table>

                <input type="submit" class="button" name="submit" value="Generate Report" />&nbsp;
                <input type="reset"  class="button" name="reset"  value="Reset" />&nbsp;
                
                <!-- IE PDF Hack -->
                <input type="hidden" name="ext" value=".pdf" />
            </form>

            <script type="text/javascript">
                document.jobOrderReportForm.siteName.focus();
            </script>
        </div>
    </div>
    <div id="bottomShadow"></div>
<?php TemplateUtility::printFooter(); ?>
