<b>Please enter your e-mail address.</b>
<p />
This will be set as your default RESUFLO e-mail address for notifications.
<br />It will also be where
receipients you e-mail internally from RESUFLO should reply to.
<p />
<div id="emailBeacon" style="display: none;">&nbsp;</div>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="padding-right: 15px; font-size: 14px;">E-mail Address:</td>
        <td><input type="text" name="email" id="email" value="" size="40" maxlength="255" style="border: 1px solid #0C519D; padding: 5px;" /></td>
    </tr>
</table>
