<div id="importBeacon" style="display: none;">&nbsp;</div>
<b>Import your resume files directly as candidates.</b>
<p />
Supported file formats: doc, pdf, rft, html, txt, zip, gz
<p />
RESUFLO will process each file and attempt to extract relevant information to import.

<br /><br />

<OBJECT id="FlashFilesUpload" codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
	width="450" height="350" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" VIEWASTEXT>
	<!-- Replace symbols " with the &quot; at all parameters values and
	symbols "&" with the "%26" at URL values or &amp; at other values!
	The same parameters values should be set for EMBED object below. -->
<PARAM NAME="FlashVars" VALUE="uploadUrl=<?php echo(RESUFLOUtility::getNonSSLDirectoryURL()); ?>modules/asp/lib/MultiPowUpload/upload.php?session_id=<?php echo(session_id()); ?>&amp;showLink=false&amp;labelUploadText=%20&amp;backgroundColor=#DDE2FF">
<PARAM NAME="BGColor" VALUE="#DDE2FF">
<PARAM NAME="Movie" VALUE="<?php echo(RESUFLOUtility::getNonSSLDirectoryURL()); ?>modules/asp/lib/MultiPowUpload/ElementITMultiPowUpload1.7.swf">
<PARAM NAME="Src" VALUE="<?php echo(RESUFLOUtility::getNonSSLDirectoryURL()); ?>modules/asp/lib/MultiPowUpload/ElementITMultiPowUpload1.7.swf">
<PARAM NAME="WMode" VALUE="Window">
<PARAM NAME="Play" VALUE="-1">
<PARAM NAME="Loop" VALUE="-1">
<PARAM NAME="Quality" VALUE="High">
<PARAM NAME="SAlign" VALUE="">
<PARAM NAME="Menu" VALUE="-1">
<PARAM NAME="Base" VALUE="">
<PARAM NAME="AllowScriptAccess" VALUE="always">
<PARAM NAME="Scale" VALUE="ShowAll">
<PARAM NAME="DeviceFont" VALUE="0">
<PARAM NAME="EmbedMovie" VALUE="0">
<PARAM NAME="SWRemote" VALUE="">
<PARAM NAME="MovieData" VALUE="">
<PARAM NAME="SeamlessTabbing" VALUE="1">
<PARAM NAME="Profile" VALUE="0">
<PARAM NAME="ProfileAddress" VALUE="">
<PARAM NAME="ProfilePort" VALUE="0">
<!-- Embed for Netscape,Mozilla/FireFox browsers support. Flashvars parameters are the same.-->
<!-- Replace symbols " with the &quot; at all parameters values and
symbols "&" with the "%26" at URL values or &amp; at other values! -->
<embed bgcolor="#DDE2FF" id="EmbedFlashFilesUpload" src="<?php echo(RESUFLOUtility::getNonSSLDirectoryURL()); ?>modules/asp/lib/MultiPowUpload/ElementITMultiPowUpload1.7.swf" quality="high" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="720" height="220"
flashvars="uploadUrl=<?php echo(RESUFLOUtility::getNonSSLDirectoryURL()); ?>modules/asp/lib/MultiPowUpload/upload.php?session_id=<?php echo(session_id()); ?>&amp;showLink=false&amp;labelUploadText=%20&amp;backgroundColor=#DDE2FF">
</embed>
</OBJECT>
