<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="left" valign="top" style="padding-right: 20px;">
            <img id="firstTimeSetup" src="images/wizard/opaqueLogo.jpg" border="0" />
        <td>
        <td align="left" valign="top">
            <span style="color: #B67E00;">
            <b>To help you get started as quickly as possible, we’ve prepared a few easy tasks.</b>
            </span>
            <p />
            If you have any questions, comments or suggestions about RESUFLO, we’d love to hear your
            feedback! You can contact support at anytime from the Support tab once you’ve completed
            this setup.
            <p />
            Like the thousands of people that use RESUFLO everyday, we’re confident that you will
            find it to be an easy-to-use, comprehensive solution to all of your recruiting needs.
        </td>
    </tr>
</table>
