<b>Set your new administrative password for RESUFLO.</b>
<p />
<div id="passwordBeacon" style="display: none;">&nbsp;</div>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="center" align="left" style="padding-top: 10px; padding-right: 15px; padding-bottom: 15px; font-size: 14px;">New Password</td>
        <td valign="center" align="left"><input type="password" name="password1" id="password1" size="20" maxlength="20" style="border: 1px solid #0C519D; padding: 5px;" /></td>
    </tr>
    <tr>
        <td valign="center" align="left" style="padding-top: 10px; padding-right: 15px; padding-bottom: 15px; font-size: 14px;">Confirm New Password</td>
        <td valign="center" align="left"><input type="password" name="password2" id="password2" size="20" maxlength="20" style="border: 1px solid #0C519D; padding: 5px;" /></td>
    </tr>
</table>
