<style>
input.licenseKey { border: 1px solid #0C519D; padding: 5px; width: 500px; }
</style>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="left" valign="top" style="padding-right: 10px;">
            <img src="images/wizard/professional.jpg" border="0" />
        </td>

        <td align="left" valign="top">
            <b>RESUFLO Professional</b> users get everything RESUFLO has to offer.</b>
            <ul>
                <li>Import candidates from websites using your web browser.</li>
                <li>A careers website where applicants can view public jobs and apply.</li>
                <li>Import your resume documents directly as candidates.</li>
                <li>Plug-ins and add-ons to make recruiting even easier.</li>
                <li>Complete telephone and e-mail support.</li>
            </ul>

            <b>Need a license key?</b> <a href="http://www.econnoisseur.com/?a=license_key" target="_blank">Register here</a>.

            <p />

            <b>Enter your open source or professional license key:</b>
            <p />
            <input type="text" name="key" id="key" value="<?php if (defined('LICENSE_KEY') && LICENSE_KEY != '') echo LICENSE_KEY; ?>" class="licenseKey" />
            <p />
        </td>
    </tr>
</table>
