<!--<div class="message-direction message-direction-out" message_id="S6624021976270938112_1000"><span class="message-inbox-icon">SN</span>  Hi, Lee, I'm here in Portland and looking to build my local network. <div class="message-date">2020-01-17 19:38</div></div>
<div style="clear:both;"></div>
-->
<div class="message-direction message-direction-out" message_id="S6624021976270938112_1000">
    <span class="message-inbox-icon">SN</span>  
    Hi, <?php echo $this->messages[0]['first_name']; ?>, I'm here in Portland and looking to build my local network. 
    <div class="message-date">###</div>
</div>
<div style="clear:both;"></div>
<?php foreach ($this->messages as $message => $row){?>
    <div class="message-direction message-direction-in" >
        <span class="message-inbox-icon"><?php echo 'SN'; ?></span>
        <?php echo $row['notes']; ?>
        <div class="message-date"><?php echo $row['date_created']; ?></div>
    </div>
<?php }?>